In [38]:
#importing necessary libraries
import pandas as pd
import numpy as np

#Display all columns for data inspecting
pd.set_option('display.max_columns', 500)

In [109]:
#read the team average statistics collected from https://fbref.com/ 
team_stats = pd.read_csv('team_avg_statistics_including_friendly.csv')

team_stats = team_stats.drop('Unnamed: 0',axis=1)
team_stats.head()

,Squad,Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK
0,Afghanistan,15.000000,27.000000,NaN,1.000000,11.000000,90.0,1.000000,1.000000,1.000000,1.000000,0.00,0.00,1.000000,0.000000,1.000000,1.000000,2.000000,1.000000,2.000000
1,Albania,18.000000,25.533333,NaN,1.666667,18.333333,150.0,1.666667,1.333333,0.666667,1.333333,0.00,0.00,3.333333,0.000000,1.000000,0.666667,1.666667,1.000000,1.666667
2,Algeria,19.666667,27.133333,39.5,2.750000,30.250000,255.0,2.825000,3.750000,3.166667,3.500000,0.25,0.25,5.416667,0.833333,1.376667,1.095000,2.471667,1.316667,2.414167
3,Andorra,22.666667,28.266667,NaN,2.000000,22.000000,180.0,2.000000,1.000000,0.666667,1.000000,0.00,0.00,2.000000,0.000000,0.500000,0.333333,0.833333,0.500000,0.833333
4,Anguilla,14.000000,26.600000,NaN,1.000000,11.000000,90.0,1.000000,0.000000,0.000000,0.000000,0.00,0.00,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [110]:
#https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017
#read the international matches results from 2010 to 2018
hist_matches =  pd.read_csv('results.csv')
hist_matches = hist_matches.drop('Unnamed: 0',axis=1)
hist_matches

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference
0,2010-01-02,Iran,Korea DPR,1,0,Friendly,Doha,Qatar,True,Iran,1
1,2010-01-02,Qatar,Mali,0,0,Friendly,Doha,Qatar,False,Draw,0
2,2010-01-02,Syria,Zimbabwe,6,0,Friendly,Kuala Lumpur,Malaysia,True,Syria,6
3,2010-01-02,Yemen,Tajikistan,0,1,Friendly,Sana'a,Yemen,False,Tajikistan,1
4,2010-01-03,Angola,Gambia,1,1,Friendly,Vila Real de Santo António,Portugal,True,Draw,0
...,...,...,...,...,...,...,...,...,...,...,...
7964,2018-07-06,Uruguay,France,0,2,FIFA World Cup,Nizhny Novgorod,Russia,True,France,2
7965,2018-07-06,Brazil,Belgium,1,2,FIFA World Cup,Kazan,Russia,True,Belgium,1
7966,2018-07-07,Sweden,England,0,2,FIFA World Cup,Samara,Russia,True,England,2
7967,2018-07-07,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,False,Draw,0
7968,2018-07-10,France,Belgium,1,0,FIFA World Cup,St. Petersburg,Russia,True,France,1

In [111]:
#keep only important columns
hist_matches = hist_matches[['date','home_team','away_team','tournament','home_score','away_score','winning_team','goal_difference']]

In [112]:
#check for team names to make sure team names are the same in all datasets to avoid error during merging
hist_matches['home_team'].value_counts().index.sort_values()[200:]

Index(['Rwanda', 'Réunion', 'Saare County', 'Samoa', 'San Marino',
       'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Seychelles',
       'Shetland', 'Sierra Leone', 'Singapore', 'Sint Maarten', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'Somaliland', 'South Africa',
       'South Ossetia', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Kitts and Nevis', 'St. Lucia', 'St. Martin',
       'St. Pierre & Miquelon', 'St. Vincent and the Grenadines', 'Sudan',
       'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Székely Land', 'Sápmi', 'São Tomé and Príncipe', 'Tahiti', 'Taiwan',
       'Tajikistan', 'Tamil Eelam', 'Tanzania', 'Thailand', 'Tibet', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'USA', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Koreans in Japan', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Virgin Islands',
       'Wales', 'Western Armenia', 'Western Isles', 'Western Sahara', 'Yemen',
       'Ynys Môn', 'Zambia', 'Zanzibar', 'Zimbabwe', 'Åland Islands'],
      dtype='object')

In [113]:
#replace Korea Republic to South Korea
hist_matches.replace({'Korea Republic':'South Korea'},inplace=True)

<ipython-input-113-45821589abf4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hist_matches.replace({'Korea Republic':'South Korea'},inplace=True)

In [114]:
#check for team names in the statistics dataset
team_stats['Squad'].value_counts().index.sort_values()[100:]

Index(['Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Macedonia', 'Northern Ireland', 'Norway', 'Oman',
       'Palestine', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Ireland', 'Romania',
       'Russia', 'Rwanda', 'San Marino', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'South Africa', 'South Sudan', 'Spain',
       'St. Kitts and Nevis', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US Virgin Islands',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United States', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vietnam', 'Wales', 'Zambia', 'Zimbabwe'],
      dtype='object')

In [115]:
#replacing different team names 
team_stats.replace({'United States':'USA'},inplace=True)
team_stats.replace({'Korea Republic':'South Korea'},inplace=True)

### Add result column for W for home_team win, L for away_team win and D for Draw

In [116]:
# create a list of our conditions
conditions = [
    (hist_matches['winning_team'] == hist_matches['home_team']),
    (hist_matches['winning_team'] == hist_matches['away_team'])
    ]

# create a list of the values we want to assign for each condition
values = ['W', 'L']

# create a new column and use np.select to assign values to it using our lists as arguments
hist_matches['result'] = np.select(conditions, values,'D')
hist_matches

<ipython-input-116-0d44c6b4757e>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hist_matches['result'] = np.select(conditions, values,'D')

,date,home_team,away_team,tournament,home_score,away_score,winning_team,goal_difference,result
0,2010-01-02,Iran,Korea DPR,Friendly,1,0,Iran,1,W
1,2010-01-02,Qatar,Mali,Friendly,0,0,Draw,0,D
2,2010-01-02,Syria,Zimbabwe,Friendly,6,0,Syria,6,W
3,2010-01-02,Yemen,Tajikistan,Friendly,0,1,Tajikistan,1,L
4,2010-01-03,Angola,Gambia,Friendly,1,1,Draw,0,D
...,...,...,...,...,...,...,...,...,...
7964,2018-07-06,Uruguay,France,FIFA World Cup,0,2,France,2,L
7965,2018-07-06,Brazil,Belgium,FIFA World Cup,1,2,Belgium,1,L
7966,2018-07-07,Sweden,England,FIFA World Cup,0,2,England,2,L
7967,2018-07-07,Russia,Croatia,FIFA World Cup,2,2,Draw,0,D
7968,2018-07-10,France,Belgium,FIFA World Cup,1,0,France,1,W

In [117]:
#read the fifa rank dataset from https://www.transfermarkt.com/statistik/weltrangliste
fifa_rank = pd.read_csv('Data processing/Fifa_Rank.csv')
fifa_rank = fifa_rank.drop('Unnamed: 0',axis=1)
fifa_rank

,Rank,Nation,Squad size,Avg. age,Total value,Confederation,Points
0,1,Belgium,26,26.1,3.810000e+08,UEFA,1828
1,2,Brazil,25,27.7,8.995000e+08,CONMEBOL,1823
2,3,France,22,26.9,9.490000e+08,UEFA,1786
3,4,Argentina,33,26.2,5.817000e+08,CONMEBOL,1767
4,5,England,27,25.2,1.260000e+09,UEFA,1756
...,...,...,...,...,...,...,...
202,206,Guam,22,26.3,6.700000e+05,AFC,838
203,207,US Virgin,23,23.5,7.500000e+04,CONCACAF,816
204,208,B. Virgin,18,22.3,0.000000e+00,CONCACAF,813
205,209,Anguilla,17,28.2,0.000000e+00,CONCACAF,792
206,210,San Marino,27,28.1,9.450000e+05,UEFA,780

In [118]:
#check for team names
fifa_rank['Nation'].value_counts().index.sort_values()[150:]

Index(['Romania', 'Russia', 'Rwanda', 'Saint Lucia', 'Samoa', 'San Marino',
       'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts/Nevis', 'St. Vincent', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'São Tomé and P.', 'Tahiti',
       'Tajikistan', 'Tanzania', 'Thailand', 'The Gambia', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks-Caicos', 'U. A. E.', 'US Virgin', 'USA', 'Uganda', 'Ukraine',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Wales',
       'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object')

In [119]:
#replace the only different team name
fifa_rank.replace({'U. A. E.':'United Arab Emirates'},inplace=True)

In [120]:
#adding the statistics data to both teams and make home and away datasets to merge later
df_rank_home = fifa_rank.rename(columns={'Nation':'home_team','Avg. age':'home_team_Avg. age','Total value':'home_team.Total value','Points':'home_team.Points','Rank':'home_team.Rank'}
                    )
df_rank_away = fifa_rank.rename(columns={'Nation':'away_team','Avg. age':'away_team. age','Total value':'away_team.Total value','Points':'away_team.Points','Rank':'away_team.Rank'}
                    )

#### Merge the teams rank data with the match results in one dataframe

In [121]:

new_df = pd.merge(hist_matches,df_rank_home, on='home_team')
new_df

,date,home_team,away_team,tournament,home_score,away_score,winning_team,goal_difference,result,home_team.Rank,Squad size,home_team_Avg. age,home_team.Total value,Confederation,home_team.Points
0,2010-01-02,Iran,Korea DPR,Friendly,1,0,Iran,1,W,21,27,28.1,74380000.0,AFC,1573
1,2010-03-03,Iran,Thailand,AFC Asian Cup qualification,1,0,Iran,1,W,21,27,28.1,74380000.0,AFC,1573
2,2010-09-24,Iran,Bahrain,WAFF Championship,3,0,Iran,3,W,21,27,28.1,74380000.0,AFC,1573
3,2010-10-01,Iran,Iraq,WAFF Championship,2,1,Iran,1,W,21,27,28.1,74380000.0,AFC,1573
4,2010-10-03,Iran,Kuwait,WAFF Championship,1,2,Kuwait,1,L,21,27,28.1,74380000.0,AFC,1573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6990,2017-09-05,Kosovo,Finland,FIFA World Cup qualification,0,1,Finland,1,L,109,23,25.9,66750000.0,UEFA,1163
6991,2017-10-06,Kosovo,Ukraine,FIFA World Cup qualification,0,2,Ukraine,2,L,109,23,25.9,66750000.0,UEFA,1163
6992,2017-11-13,Kosovo,Latvia,Friendly,4,3,Kosovo,1,W,109,23,25.9,66750000.0,UEFA,1163
6993,2018-03-24,Kosovo,Madagascar,Friendly,1,0,Kosovo,1,W,109,23,25.9,66750000.0,UEFA,1163
6994,2018-03-27,Kosovo,Burkina Faso,Friendly,2,0,Kosovo,2,W,109,23,25.9,66750000.0,UEFA,1163

In [122]:
new_df = pd.merge(new_df,df_rank_away, on='away_team')
new_df

,date,home_team,away_team,tournament,home_score,away_score,winning_team,goal_difference,result,home_team.Rank,Squad size_x,home_team_Avg. age,home_team.Total value,Confederation_x,home_team.Points,away_team.Rank,Squad size_y,away_team. age,away_team.Total value,Confederation_y,away_team.Points
0,2010-03-03,Iran,Thailand,AFC Asian Cup qualification,1,0,Iran,1,W,21,27,28.1,74380000.0,AFC,1573,112,27,27.4,8580000.0,AFC,1160
1,2013-10-15,Iran,Thailand,AFC Asian Cup qualification,2,1,Iran,1,W,21,27,28.1,74380000.0,AFC,1573,112,27,27.4,8580000.0,AFC,1160
2,2013-03-17,Qatar,Thailand,Friendly,1,0,Qatar,1,W,52,23,26.7,14430000.0,AFC,1438,112,27,27.4,8580000.0,AFC,1160
3,2013-06-15,China,Thailand,Friendly,1,5,Thailand,4,L,75,25,29.5,12680000.0,AFC,1314,112,27,27.4,8580000.0,AFC,1160
4,2014-10-10,China,Thailand,Friendly,3,0,China,3,W,75,25,29.5,12680000.0,AFC,1314,112,27,27.4,8580000.0,AFC,1160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6285,2017-12-06,Vanuatu,Tonga,Friendly,5,0,Vanuatu,5,W,164,25,24.7,1830000.0,OFC,996,199,18,25.7,0.0,OFC,862
6286,2015-08-19,Fiji,Tonga,Friendly,5,0,Fiji,5,W,162,22,25.3,2780000.0,OFC,996,199,18,25.7,0.0,OFC,862
6287,2017-12-12,Fiji,Tonga,Friendly,4,0,Fiji,4,W,162,22,25.3,2780000.0,OFC,996,199,18,25.7,0.0,OFC,862
6288,2011-11-24,Samoa,Tonga,Oceania Nations Cup qualification,1,1,Draw,0,D,193,23,26.0,225000.0,OFC,894,199,18,25.7,0.0,OFC,862
6289,2015-03-29,Bermuda,Bahamas,FIFA World Cup qualification,3,0,Bermuda,3,W,166,21,26.2,2830000.0,CONCACAF,982,201,20,24.6,0.0,CONCACAF,858

In [123]:
#Drop unnecessary columns
new_df.drop(['Confederation_x','Confederation_y','Squad size_y','Squad size_x'],axis=1,inplace=True)

In [124]:
new_df

,date,home_team,away_team,tournament,home_score,away_score,winning_team,goal_difference,result,home_team.Rank,home_team_Avg. age,home_team.Total value,home_team.Points,away_team.Rank,away_team. age,away_team.Total value,away_team.Points
0,2010-03-03,Iran,Thailand,AFC Asian Cup qualification,1,0,Iran,1,W,21,28.1,74380000.0,1573,112,27.4,8580000.0,1160
1,2013-10-15,Iran,Thailand,AFC Asian Cup qualification,2,1,Iran,1,W,21,28.1,74380000.0,1573,112,27.4,8580000.0,1160
2,2013-03-17,Qatar,Thailand,Friendly,1,0,Qatar,1,W,52,26.7,14430000.0,1438,112,27.4,8580000.0,1160
3,2013-06-15,China,Thailand,Friendly,1,5,Thailand,4,L,75,29.5,12680000.0,1314,112,27.4,8580000.0,1160
4,2014-10-10,China,Thailand,Friendly,3,0,China,3,W,75,29.5,12680000.0,1314,112,27.4,8580000.0,1160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6285,2017-12-06,Vanuatu,Tonga,Friendly,5,0,Vanuatu,5,W,164,24.7,1830000.0,996,199,25.7,0.0,862
6286,2015-08-19,Fiji,Tonga,Friendly,5,0,Fiji,5,W,162,25.3,2780000.0,996,199,25.7,0.0,862
6287,2017-12-12,Fiji,Tonga,Friendly,4,0,Fiji,4,W,162,25.3,2780000.0,996,199,25.7,0.0,862
6288,2011-11-24,Samoa,Tonga,Oceania Nations Cup qualification,1,1,Draw,0,D,193,26.0,225000.0,894,199,25.7,0.0,862
6289,2015-03-29,Bermuda,Bahamas,FIFA World Cup qualification,3,0,Bermuda,3,W,166,26.2,2830000.0,982,201,24.6,0.0,858

#### Add the teams stats data to the home and away teams and merge them with data we formed in the previous step

In [125]:
#adding prefix for away team 
df_team_away = team_stats.add_prefix('away_')
df_team_away.rename(columns={'away_Squad':'away_team'},inplace=True)
df_team_away.head(1)

,away_team,away_Pl,away_Age,away_Poss,away_MP,away_Starts,away_Min,away_90s,away_Gls,away_Ast,away_G-PK,away_PK,away_PKatt,away_CrdY,away_CrdR,away_Gls.1,away_Ast.1,away_G+A,away_G-PK.1,away_G+A-PK
0,Afghanistan,15.0,27.0,NaN,1.0,11.0,90.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,2.0,1.0,2.0

In [126]:
#adding prefix for home team 
df_team_home = team_stats.add_prefix('home_')
df_team_home.rename(columns={'home_Squad':'home_team'},inplace=True)
df_team_home.head(1)

,home_team,home_Pl,home_Age,home_Poss,home_MP,home_Starts,home_Min,home_90s,home_Gls,home_Ast,home_G-PK,home_PK,home_PKatt,home_CrdY,home_CrdR,home_Gls.1,home_Ast.1,home_G+A,home_G-PK.1,home_G+A-PK
0,Afghanistan,15.0,27.0,NaN,1.0,11.0,90.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,2.0,1.0,2.0

In [127]:
df_all = pd.merge(new_df,df_team_home, on='home_team')
df_all = pd.merge(df_all , df_team_away , on='away_team')
df_all

,date,home_team,away_team,tournament,home_score,away_score,winning_team,goal_difference,result,home_team.Rank,home_team_Avg. age,home_team.Total value,home_team.Points,away_team.Rank,away_team. age,away_team.Total value,away_team.Points,home_Pl,home_Age,home_Poss,home_MP,home_Starts,home_Min,home_90s,home_Gls,home_Ast,home_G-PK,home_PK,home_PKatt,home_CrdY,home_CrdR,home_Gls.1,home_Ast.1,home_G+A,home_G-PK.1,home_G+A-PK,away_Pl,away_Age,away_Poss,away_MP,away_Starts,away_Min,away_90s,away_Gls,away_Ast,away_G-PK,away_PK,away_PKatt,away_CrdY,away_CrdR,away_Gls.1,away_Ast.1,away_G+A,away_G-PK.1,away_G+A-PK
0,2010-03-03,Iran,Thailand,AFC Asian Cup qualification,1,0,Iran,1,W,21,28.1,74380000.0,1573,112,27.4,8580000.0,1160,15.500000,27.600000,32.0,3.000000,33.000000,270.0,3.000000,1.000000,0.500000,0.500000,0.5,0.5,5.500000,0.0,0.330,0.165000,0.500,0.165000,0.335,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.50
1,2013-10-15,Iran,Thailand,AFC Asian Cup qualification,2,1,Iran,1,W,21,28.1,74380000.0,1573,112,27.4,8580000.0,1160,15.500000,27.600000,32.0,3.000000,33.000000,270.0,3.000000,1.000000,0.500000,0.500000,0.5,0.5,5.500000,0.0,0.330,0.165000,0.500,0.165000,0.335,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.50
2,2013-03-17,Qatar,Thailand,Friendly,1,0,Qatar,1,W,52,26.7,14430000.0,1438,112,27.4,8580000.0,1160,21.666667,26.633333,NaN,5.333333,58.666667,480.0,5.333333,4.666667,3.333333,3.666667,1.0,1.0,10.333333,1.0,0.940,0.603333,1.540,0.633333,1.230,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.50
3,2010-12-07,Indonesia,Thailand,AFF Championship,2,1,Indonesia,1,W,160,23.3,5280000.0,1002,112,27.4,8580000.0,1160,25.500000,23.100000,NaN,2.500000,27.500000,225.0,2.500000,5.000000,1.500000,4.000000,1.0,1.0,3.000000,0.0,2.085,0.500000,2.585,1.665000,2.165,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.50
4,2016-12-14,Indonesia,Thailand,AFF Championship,2,1,Indonesia,1,W,160,23.3,5280000.0,1002,112,27.4,8580000.0,1160,25.500000,23.100000,NaN,2.500000,27.500000,225.0,2.500000,5.000000,1.500000,4.000000,1.0,1.0,3.000000,0.0,2.085,0.500000,2.585,1.665000,2.165,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5206,2011-11-14,Bermuda,Barbados,FIFA World Cup qualification,2,1,Bermuda,1,W,166,26.2,2830000.0,982,163,23.0,0.0,996,14.000000,25.100000,NaN,1.000000,11.000000,90.0,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.000000,0.000,0.000000,0.000,18.5,24.45,NaN,2.0,22.0,180.0,2.0,1.0,0.0,0.5,0.5,0.5,5.5,0.0,0.50,0.00,0.5,0.25,0.25
5207,2017-10-28,Bermuda,Barbados,Friendly,2,3,Barbados,1,L,166,26.2,2830000.0,982,163,23.0,0.0,996,14.000000,25.100000,NaN,1.000000,11.000000,90.0,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000,0.000000,0.000,0.000000,0.000,18.5,24.45,NaN,2.0,22.0,180.0,2.0,1.0,0.0,0.5,0.5,0.5,5.5,0.0,0.50,0.00,0.5,0.25,0.25
5208,2010-10-02,Puerto Rico,Anguilla,CFU Caribbean Cup qualification,3,1,Puerto Rico,2,W,172,23.5,1500000.0,963,209,28.2,0.0,792,16.000000,23.000000,NaN,2.000000,22.000000,180.0,2.000000,1.000000,0.000000,0.000000,1.0,1.0,5.000000,0.0,0.500,0.000000,0.500,0.000000,0.000,14.0,26.60,NaN,1.0,11.0,90.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.00,0.00,0.0,0.00,0.00
5209,2011-07-15,Fiji,Vanuatu,Friendly,1,2,Vanuatu,1,L,162,25.3,2780000.0,996,164,24.7,1830000.0,996,15.000000,25.900000,NaN,1.000000,11.000000,90.0,1.000000,2.000000,0.000000,1.000000,1.0,1.0,2.000000,0.0,2.000,0.000000,2.000,1.000000,1.000,16.0,24.70,NaN,1.0,11.0,90.0,1.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,1.00,0.00,1.0,1.00,1.00
5210,2016-06-04,Fiji,Vanuatu,Oceania Nations Cup,2,3,Vanuatu,1,L,162,25.3,2780000.0,996,164,24.7,1830000.0,996,15.000000,25.900000,NaN,1.000000,11.000000,90.0,1.000000,2.000000,0.000000,1.000000,1.0,1.0,2.000000,0.0,2.000,0.000000,2.000,1.000000,1.000,16.0,24.70,NaN,1.0,11.0,90.0,1.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,1.00,0.00,1.0,1.00,1.00

In [128]:
#Drop the Winning team column and keep the result column which indicates if home time Wins, Lose or Draw with (W,L,D)
df_all.drop('winning_team',axis=1,inplace=True)
df_all['date'] = pd.to_datetime(df_all['date'])
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5211 entries, 0 to 5210
Data columns (total 54 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   5211 non-null   datetime64[ns]
 1   home_team              5211 non-null   object
 2   away_team              5211 non-null   object
 3   tournament             5211 non-null   object
 4   home_score             5211 non-null   int64
 5   away_score             5211 non-null   int64
 6   goal_difference        5211 non-null   int64
 7   result                 5211 non-null   object
 8   home_team.Rank         5211 non-null   int64
 9   home_team_Avg. age     5211 non-null   float64
 10  home_team.Total value  5211 non-null   float64
 11  home_team.Points       5211 non-null   int64
 12  away_team.Rank         5211 non-null   int64
 13  away_team. age         5211 non-null   float64
 14  away_team.Total value  5211 non-null   float64
 15  away_team.Points       5211 non-null   int64
 16  home_Pl                5211 non-null   float64
 17  home_Age               5211 non-null   float64
 18  home_Poss              2062 non-null   float64
 19  home_MP                5211 non-null   float64
 20  home_Starts            5211 non-null   float64
 21  home_Min               5211 non-null   float64
 22  home_90s               5211 non-null   float64
 23  home_Gls               5211 non-null   float64
 24  home_Ast               5211 non-null   float64
 25  home_G-PK              5211 non-null   float64
 26  home_PK                5211 non-null   float64
 27  home_PKatt             5211 non-null   float64
 28  home_CrdY              5211 non-null   float64
 29  home_CrdR              5211 non-null   float64
 30  home_Gls.1             5211 non-null   float64
 31  home_Ast.1             5211 non-null   float64
 32  home_G+A               5211 non-null   float64
 33  home_G-PK.1            5211 non-null   float64
 34  home_G+A-PK            5211 non-null   float64
 35  away_Pl                5211 non-null   float64
 36  away_Age               5211 non-null   float64
 37  away_Poss              1960 non-null   float64
 38  away_MP                5211 non-null   float64
 39  away_Starts            5211 non-null   float64
 40  away_Min               5211 non-null   float64
 41  away_90s               5211 non-null   float64
 42  away_Gls               5211 non-null   float64
 43  away_Ast               5211 non-null   float64
 44  away_G-PK              5211 non-null   float64
 45  away_PK                5211 non-null   float64
 46  away_PKatt             5211 non-null   float64
 47  away_CrdY              5211 non-null   float64
 48  away_CrdR              5211 non-null   float64
 49  away_Gls.1             5211 non-null   float64
 50  away_Ast.1             5211 non-null   float64
 51  away_G+A               5211 non-null   float64
 52  away_G-PK.1            5211 non-null   float64
 53  away_G+A-PK            5211 non-null   float64
dtypes: datetime64[ns](1), float64(42), int64(7), object(4)
memory usage: 2.2+ MB

In [129]:
#set match result column for 1 when home team win , 2 when home team lose, and 0 if draw, as the model will understand only integers
df_all['match_result'] = df_all['result'].apply(lambda x: 1 if x == 'W' else 2 if x== 'L' else 0)
df_all.head(5)

,date,home_team,away_team,tournament,home_score,away_score,goal_difference,result,home_team.Rank,home_team_Avg. age,home_team.Total value,home_team.Points,away_team.Rank,away_team. age,away_team.Total value,away_team.Points,home_Pl,home_Age,home_Poss,home_MP,home_Starts,home_Min,home_90s,home_Gls,home_Ast,home_G-PK,home_PK,home_PKatt,home_CrdY,home_CrdR,home_Gls.1,home_Ast.1,home_G+A,home_G-PK.1,home_G+A-PK,away_Pl,away_Age,away_Poss,away_MP,away_Starts,away_Min,away_90s,away_Gls,away_Ast,away_G-PK,away_PK,away_PKatt,away_CrdY,away_CrdR,away_Gls.1,away_Ast.1,away_G+A,away_G-PK.1,away_G+A-PK,match_result
0,2010-03-03,Iran,Thailand,AFC Asian Cup qualification,1,0,1,W,21,28.1,74380000.0,1573,112,27.4,8580000.0,1160,15.500000,27.600000,32.0,3.000000,33.000000,270.0,3.000000,1.000000,0.500000,0.500000,0.5,0.5,5.500000,0.0,0.330,0.165000,0.500,0.165000,0.335,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.5,1
1,2013-10-15,Iran,Thailand,AFC Asian Cup qualification,2,1,1,W,21,28.1,74380000.0,1573,112,27.4,8580000.0,1160,15.500000,27.600000,32.0,3.000000,33.000000,270.0,3.000000,1.000000,0.500000,0.500000,0.5,0.5,5.500000,0.0,0.330,0.165000,0.500,0.165000,0.335,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.5,1
2,2013-03-17,Qatar,Thailand,Friendly,1,0,1,W,52,26.7,14430000.0,1438,112,27.4,8580000.0,1160,21.666667,26.633333,NaN,5.333333,58.666667,480.0,5.333333,4.666667,3.333333,3.666667,1.0,1.0,10.333333,1.0,0.940,0.603333,1.540,0.633333,1.230,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.5,1
3,2010-12-07,Indonesia,Thailand,AFF Championship,2,1,1,W,160,23.3,5280000.0,1002,112,27.4,8580000.0,1160,25.500000,23.100000,NaN,2.500000,27.500000,225.0,2.500000,5.000000,1.500000,4.000000,1.0,1.0,3.000000,0.0,2.085,0.500000,2.585,1.665000,2.165,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.5,1
4,2016-12-14,Indonesia,Thailand,AFF Championship,2,1,1,W,160,23.3,5280000.0,1002,112,27.4,8580000.0,1160,25.500000,23.100000,NaN,2.500000,27.500000,225.0,2.500000,5.000000,1.500000,4.000000,1.0,1.0,3.000000,0.0,2.085,0.500000,2.585,1.665000,2.165,22.0,26.95,NaN,1.5,16.5,135.0,1.5,2.5,1.5,2.5,0.0,0.0,2.0,0.5,1.75,0.75,2.5,1.75,2.5,1

In [130]:
#drop the result column and keep the new match result
df_all.drop('result',axis=1,inplace=True)

#### Sort the columns so hom team data come first followerd by away team data

In [131]:
df_all.columns

Index(['date', 'home_team', 'away_team', 'tournament', 'home_score',
       'away_score', 'goal_difference', 'home_team.Rank', 'home_team_Avg. age',
       'home_team.Total value', 'home_team.Points', 'away_team.Rank',
       'away_team. age', 'away_team.Total value', 'away_team.Points',
       'home_Pl', 'home_Age', 'home_Poss', 'home_MP', 'home_Starts',
       'home_Min', 'home_90s', 'home_Gls', 'home_Ast', 'home_G-PK', 'home_PK',
       'home_PKatt', 'home_CrdY', 'home_CrdR', 'home_Gls.1', 'home_Ast.1',
       'home_G+A', 'home_G-PK.1', 'home_G+A-PK', 'away_Pl', 'away_Age',
       'away_Poss', 'away_MP', 'away_Starts', 'away_Min', 'away_90s',
       'away_Gls', 'away_Ast', 'away_G-PK', 'away_PK', 'away_PKatt',
       'away_CrdY', 'away_CrdR', 'away_Gls.1', 'away_Ast.1', 'away_G+A',
       'away_G-PK.1', 'away_G+A-PK', 'match_result'],
      dtype='object')

In [132]:
sorter = ['date','tournament','home_team','home_score','home_team.Rank','home_team_Avg. age','home_team.Total value', 'home_team.Points',
         'home_Pl', 'home_Age', 'home_Poss', 'home_MP', 'home_Starts','home_Min', 'home_90s', 'home_Gls', 'home_Ast', 'home_G-PK', 'home_PK',
       'home_PKatt', 'home_CrdY', 'home_CrdR', 'home_Gls.1', 'home_Ast.1','home_G+A', 'home_G-PK.1', 'home_G+A-PK',
         'away_team','away_score','away_team.Rank','away_team. age', 'away_team.Total value', 'away_team.Points', 'away_Pl', 'away_Age',
       'away_Poss', 'away_MP', 'away_Starts', 'away_Min', 'away_90s','away_Gls', 'away_Ast', 'away_G-PK', 'away_PK', 'away_PKatt',
       'away_CrdY', 'away_CrdR', 'away_Gls.1', 'away_Ast.1', 'away_G+A','away_G-PK.1', 'away_G+A-PK','goal_difference', 'match_result'
         ]

In [133]:
df_all = df_all[sorter]
df_all.columns

Index(['date', 'tournament', 'home_team', 'home_score', 'home_team.Rank',
       'home_team_Avg. age', 'home_team.Total value', 'home_team.Points',
       'home_Pl', 'home_Age', 'home_Poss', 'home_MP', 'home_Starts',
       'home_Min', 'home_90s', 'home_Gls', 'home_Ast', 'home_G-PK', 'home_PK',
       'home_PKatt', 'home_CrdY', 'home_CrdR', 'home_Gls.1', 'home_Ast.1',
       'home_G+A', 'home_G-PK.1', 'home_G+A-PK', 'away_team', 'away_score',
       'away_team.Rank', 'away_team. age', 'away_team.Total value',
       'away_team.Points', 'away_Pl', 'away_Age', 'away_Poss', 'away_MP',
       'away_Starts', 'away_Min', 'away_90s', 'away_Gls', 'away_Ast',
       'away_G-PK', 'away_PK', 'away_PKatt', 'away_CrdY', 'away_CrdR',
       'away_Gls.1', 'away_Ast.1', 'away_G+A', 'away_G-PK.1', 'away_G+A-PK',
       'goal_difference', 'match_result'],
      dtype='object')

In [134]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5211 entries, 0 to 5210
Data columns (total 54 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   5211 non-null   datetime64[ns]
 1   tournament             5211 non-null   object
 2   home_team              5211 non-null   object
 3   home_score             5211 non-null   int64
 4   home_team.Rank         5211 non-null   int64
 5   home_team_Avg. age     5211 non-null   float64
 6   home_team.Total value  5211 non-null   float64
 7   home_team.Points       5211 non-null   int64
 8   home_Pl                5211 non-null   float64
 9   home_Age               5211 non-null   float64
 10  home_Poss              2062 non-null   float64
 11  home_MP                5211 non-null   float64
 12  home_Starts            5211 non-null   float64
 13  home_Min               5211 non-null   float64
 14  home_90s               5211 non-null   float64
 15  home_Gls               5211 non-null   float64
 16  home_Ast               5211 non-null   float64
 17  home_G-PK              5211 non-null   float64
 18  home_PK                5211 non-null   float64
 19  home_PKatt             5211 non-null   float64
 20  home_CrdY              5211 non-null   float64
 21  home_CrdR              5211 non-null   float64
 22  home_Gls.1             5211 non-null   float64
 23  home_Ast.1             5211 non-null   float64
 24  home_G+A               5211 non-null   float64
 25  home_G-PK.1            5211 non-null   float64
 26  home_G+A-PK            5211 non-null   float64
 27  away_team              5211 non-null   object
 28  away_score             5211 non-null   int64
 29  away_team.Rank         5211 non-null   int64
 30  away_team. age         5211 non-null   float64
 31  away_team.Total value  5211 non-null   float64
 32  away_team.Points       5211 non-null   int64
 33  away_Pl                5211 non-null   float64
 34  away_Age               5211 non-null   float64
 35  away_Poss              1960 non-null   float64
 36  away_MP                5211 non-null   float64
 37  away_Starts            5211 non-null   float64
 38  away_Min               5211 non-null   float64
 39  away_90s               5211 non-null   float64
 40  away_Gls               5211 non-null   float64
 41  away_Ast               5211 non-null   float64
 42  away_G-PK              5211 non-null   float64
 43  away_PK                5211 non-null   float64
 44  away_PKatt             5211 non-null   float64
 45  away_CrdY              5211 non-null   float64
 46  away_CrdR              5211 non-null   float64
 47  away_Gls.1             5211 non-null   float64
 48  away_Ast.1             5211 non-null   float64
 49  away_G+A               5211 non-null   float64
 50  away_G-PK.1            5211 non-null   float64
 51  away_G+A-PK            5211 non-null   float64
 52  goal_difference        5211 non-null   int64
 53  match_result           5211 non-null   int64
dtypes: datetime64[ns](1), float64(42), int64(8), object(3)
memory usage: 2.2+ MB

In [135]:
#impute the possition null values with average value
df_all['home_Poss'].fillna(df_all['home_Poss'].mean(),inplace=True)
df_all['away_Poss'].fillna(df_all['away_Poss'].mean(),inplace=True)
#df_all.drop(['home_Poss','away_Poss'],axis=1,inplace=True)

<ipython-input-135-2e02a63c6e21>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['home_Poss'].fillna(df_all['home_Poss'].mean(),inplace=True)
<ipython-input-135-2e02a63c6e21>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['away_Poss'].fillna(df_all['away_Poss'].mean(),inplace=True)

In [136]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5211 entries, 0 to 5210
Data columns (total 54 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   5211 non-null   datetime64[ns]
 1   tournament             5211 non-null   object
 2   home_team              5211 non-null   object
 3   home_score             5211 non-null   int64
 4   home_team.Rank         5211 non-null   int64
 5   home_team_Avg. age     5211 non-null   float64
 6   home_team.Total value  5211 non-null   float64
 7   home_team.Points       5211 non-null   int64
 8   home_Pl                5211 non-null   float64
 9   home_Age               5211 non-null   float64
 10  home_Poss              5211 non-null   float64
 11  home_MP                5211 non-null   float64
 12  home_Starts            5211 non-null   float64
 13  home_Min               5211 non-null   float64
 14  home_90s               5211 non-null   float64
 15  home_Gls               5211 non-null   float64
 16  home_Ast               5211 non-null   float64
 17  home_G-PK              5211 non-null   float64
 18  home_PK                5211 non-null   float64
 19  home_PKatt             5211 non-null   float64
 20  home_CrdY              5211 non-null   float64
 21  home_CrdR              5211 non-null   float64
 22  home_Gls.1             5211 non-null   float64
 23  home_Ast.1             5211 non-null   float64
 24  home_G+A               5211 non-null   float64
 25  home_G-PK.1            5211 non-null   float64
 26  home_G+A-PK            5211 non-null   float64
 27  away_team              5211 non-null   object
 28  away_score             5211 non-null   int64
 29  away_team.Rank         5211 non-null   int64
 30  away_team. age         5211 non-null   float64
 31  away_team.Total value  5211 non-null   float64
 32  away_team.Points       5211 non-null   int64
 33  away_Pl                5211 non-null   float64
 34  away_Age               5211 non-null   float64
 35  away_Poss              5211 non-null   float64
 36  away_MP                5211 non-null   float64
 37  away_Starts            5211 non-null   float64
 38  away_Min               5211 non-null   float64
 39  away_90s               5211 non-null   float64
 40  away_Gls               5211 non-null   float64
 41  away_Ast               5211 non-null   float64
 42  away_G-PK              5211 non-null   float64
 43  away_PK                5211 non-null   float64
 44  away_PKatt             5211 non-null   float64
 45  away_CrdY              5211 non-null   float64
 46  away_CrdR              5211 non-null   float64
 47  away_Gls.1             5211 non-null   float64
 48  away_Ast.1             5211 non-null   float64
 49  away_G+A               5211 non-null   float64
 50  away_G-PK.1            5211 non-null   float64
 51  away_G+A-PK            5211 non-null   float64
 52  goal_difference        5211 non-null   int64
 53  match_result           5211 non-null   int64
dtypes: datetime64[ns](1), float64(42), int64(8), object(3)
memory usage: 2.2+ MB

In [137]:
#save the data to a csv file
df_all.to_csv('final_df.csv')